<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>∞</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- CSS 파일 -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- JavaScript 파일 -->
    <script src="{% static 'js/common.js' %}"></script>
    <script>
        window.addEventListener("load", function () {
            document.body.addEventListener('wheel', (e) => {
                const mainContainer = document.querySelector('.mainContainer');
                if (mainContainer) {
                    const currentScroll = mainContainer.scrollTop;
                    const scrollAmount = 1000; // 스크롤 이동량
                    console.log("move!");
                    if (e.deltaY > 0) {
                        // 아래로 스크롤
                        mainContainer.scrollTo({ top: currentScroll + scrollAmount, behavior: 'smooth' });
                    } else {
                        // 위로 스크롤
                        mainContainer.scrollTo({ top: currentScroll - scrollAmount, behavior: 'smooth' });
                    }
                }
            });
            document.querySelector('.page_lodding').style.display = 'none'; // 로딩 바 숨기기
        });
</script>
</head>
<body>
    <section class="mainContainer">
        <!-- 타이틀 -->
        <div class="ChartContainer">
            <article>
                <p class="mainTitle">그래서 데이터 엔지니어가 뭔데?</p>
                <p class="subTitle">데이터엔지니어? 저희가 알려드릴게요! 직접 데이터 확인해 볼까요?</p>
            </article>
        </div>
        <!-- 주요 업무. -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">주요 업무</p>
                <p class="chartDescription">데이터 엔지니어가 주로 하는 일이에요.</p>
                <iframe src="{% url 'mainWorkChart' %}"></iframe>
            </article>
        </div>
        <!-- 우대 사항 -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">우대 사항</p>
                <p class="chartDescription">이런 조건을 갖추면 더 눈길을 끌 수 있어요.</p>
                <iframe src="{% url 'preferredQualificationChart' %}"></iframe>
            </article>
        </div>
        <!-- 회사 규모 -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">회사 규모</p>
                <p class="chartDescription">데이터 엔지니어를 찾는 회사의 규모를 정리 했어요.</p>
                <iframe src="{% url 'companyScalesChart' %}"></iframe>
            </article>
        </div>
        <!-- 기술 스택 -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">기술 스택</p>
                <p class="chartDescription">데이터 엔지니어에게 많이 요구하는 기술을 모아 봤어요.</p>
                <iframe src="{% url 'techStackChart' %}"></iframe>
            </article>
        </div>
        <!-- 기술 스택(wordCloud) -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">기술 스택</p>
                <p class="chartDescription">데이터 엔지니어에게 많이 요구하는 기술을 모아 봤어요.</p>
                <iframe src="{% url 'techStackWordCloud' %}"></iframe>
            </article>
        </div>
        <!-- 회사 매출 별 기술 스택 -->
        <div class="ChartContainer">
            <article>
                <p class="chartTitle">기술 분포</p>
                <p class="chartDescription">데이터 엔지니어를 고용하는 회사 매출정보에요</p>
                <iframe src="{% url 'revenueTechStacks' %}"></iframe>
            </article>
        </div>
        <!-- 마무리 -->         
        <div class="ChartContainer">
            <article>
                <p class="mainTitle">엔지니어가 어떤것인지 알게 되셧나요?</p>
                <p class="subTitle">데이터엔지니어! 당신도 할수 있습니다!</p>
            </article>
        </div>
    </section>
</body>
<div class="page_lodding">
    <div class="spinner"></div>
</div>
</html>
